:root {
    --col-num: 6;
    --gap: 100px;
}


.text-align {
    text-align: center;
}
.text-align2 {
    text-align: justify;
}
.grid {
    display: grid;
    grid-template-columns: repeat(var(--col-num), 1fr);
    grid-gap: var(--gap);
    row-gap: 2px;
}



@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
     
}
@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
     
}